.section
    background-color: $bgColorDark


    &_gallery
        padding-bottom: 70px

    &__container
        margin: 0 auto
        width: $desktop
        padding: 0 20px 
    &__menu
       margin-top: 30px 

    &__block 
        display: flex

        &_center
            justify-content: center

        &_right
            justify-content: flex-start
            margin-left: 300px
